<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Маркет</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Маркет</a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto" sec:authorize="isAuthenticated()">
                    <li class="nav-item me-3">
                        <a class="nav-link" th:href="@{/product/create}">Додати</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link" th:href="@{/account}">Account</a>
                    </li>
                    <li class="nav-item">
                        <form method="post" th:action="@{/logout}">
                            <button class="btn btn-link nav-link ps-0" type="submit">Sign Out</button>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto" sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">Sign Up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main layout:fragment="content">

</main>
</body>
</html>