<!DOCTYPE html>
<html layout:decorate="~{base}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title layout:fragment="title">Маркет — Товари</title>
</head>
<body>
<main class="container pt-3" layout:fragment="content">
    <h1 class="title mb-3" th:text="${product.title}"></h1>
    <p class="mb-2" th:text="${product.description}"></p>
    <p class="mb-2" th:text="'Location: ' + ${product.location} + '.'"></p>
    <p class="mb-3"
       th:text="'Price: ' + ${#numbers.formatDecimal(product.price, 1, 'DEFAULT', 2, 'DEFAULT')} + ' ₴.'"></p>
    <hr>
    <h5 class="mb-3">Контактна інформація</h5>
    <p class="mb-2" th:text="'Name: ' + ${product.user.firstName} + ' ' + ${product.user.lastName} + '.'"></p>
    <p th:text="'Email: ' + ${product.user.email} + '.'"></p>
</main>
</body>
</html>