<!DOCTYPE html>
<html layout:decorate="~{base}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title layout:fragment="title">Маркет — Sign Up</title>
</head>
<body>
<main class="container pt-3" layout:fragment="content">
    <h1 class="mb-3">Створити новий аккаунт</h1>
    <form method="post" th:action="@{/register}" th:object="${user}">
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control mb-3" id="email" th:field="*{email}" type="email"/>
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                 th:if="${#fields.hasErrors('email')}">
                <span th:errors="*{email}">Error</span>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="firstName">Ім"я</label>
            <input class="form-control mb-3" id="firstName" th:field="*{firstName}" type="text"/>
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                 th:if="${#fields.hasErrors('firstName')}">
                <span th:errors="*{firstName}">Error</span>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="lastName">Прізвище</label>
            <input class="form-control mb-3" id="lastName" th:field="*{lastName}" type="text"/>
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                 th:if="${#fields.hasErrors('lastName')}">
                <span th:errors="*{lastName}">Error</span>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" id="password" th:field="*{password}" type="password"/>
            <div class="alert alert-danger alert-dismissible fade show" role="alert"
                 th:if="${#fields.hasErrors('password')}">
                <span th:errors="*{password}">Error</span>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
            </div>
        </div>
        <p class="mb-3"><a th:href="@{/login}">Вже є аккаунт?</a></p>
        <button class="btn btn-success" type="submit">Sign Up</button>
    </form>
</main>
</body>
</html>